Loading the data in Raw Layer

In [1]:
import pandas as pd
import os

In [2]:
users = pd.read_csv('../Create_data/output01/users.csv')
domains_df = pd.read_csv('../Create_data/output01/domains.csv')
trainings = pd.read_csv('../Create_data/output01/trainings.csv')
training_assignments_df = pd.read_csv('../Create_data/output01/training_assignments.csv')
scores_df = pd.read_csv('../Create_data/output01/scores.csv')

In [3]:
users.info()
scores_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10220 entries, 0 to 10219
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10220 non-null  int64
 1   firstName    10220 non-null  object
 2   lastName     10220 non-null  object
 3   email        10220 non-null  object
 4   password     10220 non-null  object
 5   role         10220 non-null  object
 6   gender       10220 non-null  object
 7   designation  10220 non-null  object
dtypes: int64(1), object(7)
memory usage: 638.9+ KB

,employeeId,trainingId,trainerId,codeQuality,communication,problemSolving,timeManagement,assignment_score
0,221,8,44,79,81,70,23,25
1,221,46,187,39,43,68,5,70
2,221,3,153,43,51,43,47,4
3,222,50,70,92,7,50,44,56
4,222,12,156,6,92,25,94,18
...,...,...,...,...,...,...,...,...
29995,10219,21,191,44,99,68,48,27
29996,10219,15,126,61,50,93,47,80
29997,10220,20,35,49,3,92,5,60
29998,10220,28,134,9,59,7,86,35
29999,10220,6,76,30,72,50,17,66

In [4]:
users.to_csv('./users_raw.csv', index=False)
domains_df.to_csv('./domains_raw.csv', index=False)
trainings.to_csv('./trainings_raw.csv', index=False)
training_assignments_df.to_csv('./training_assignments_raw.csv', index=False)
scores_df.to_csv('./scores_raw.csv', index=False)